# Lock
package-lock.json
composer.lock
pnpm-lock.yaml
# Dependencies
node_modules
vendor
jetpack_vendor
# Build
*.zip
build
# PhpCs
phpcs_error.txt
phpcs_error.csv
phpcs_error.xml
#Test
artifacts
/test-results
playwright-report
playwright
.tools/vendor
.tools/composer.lock
.plugin
.prettierrc
README.md
.DS_Store
.vscode/settings.json
