/* ----------------------- Taxonomy pwb-brand ----------------------- */
.taxonomy-pwb-brand .pwb_brand_cont #pwb_brand_image, .taxonomy-pwb-brand .pwb_brand_cont #pwb_brand_banner{
  display: none;
}
.taxonomy-pwb-brand .pwb_brand_cont div{
  margin-top: 10px;
}
@media screen and (max-width: 782px) {
	.taxonomy-pwb-brand .wp-list-table thead th.column-logo, .taxonomy-pwb-brand .wp-list-table tfoot th.column-logo {
    display: none;
  }

  .taxonomy-pwb-brand .wp-list-table td.column-logo:before {
    content: ""!important;
  }
}
/* ----------------------- /Taxonomy pwb-brand ----------------------- */
