# https://github.com/10up/action-wordpress-plugin-deploy/
# https://github.com/marketplace/actions/wordpress-plugin-svn-deploy

on:
  push:
    tags:
    - "v*"
  pull_request:
    tags:
    - "v*"
jobs:
  cache-and-install:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 7
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: |
          pnpm install --force
          pnpm run build

      - name: Validate directories
        run: |
          if [ ! -d "build" ]; then
            echo "Build directory does not exist."
            exit 1
          fi

      - name: Validate directories
        run: |
          if [ ! -d "vendor" ]; then
            echo "Vendor directory does not exist."
            exit 1
          fi
        
      - name: WordPress Plugin Deploy
        uses: nk-o/action-wordpress-plugin-deploy@master
        env:
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SLUG: perfect-woocommerce-brands
